---
layout: default
---
<div class="row">
 <div class="col-md-8">
 <h2>Ремонт популярных марок</h2>
 {% for marki in site.data.marki %}
 {% if marki.populyarnost contains "da" %}
 
 | <a href="./service-{{marki.marki_name_en}}">{{marki.marki_name_en}}</a>
 
 {%endif%}
 {%endfor%}
 
 </div> 
</div>
<div class="row">
 <div class="col-md-8">
 <h2>Ремонт европейских марок</h2>
 {% for marki in site.data.marki %}
 {% if marki.marka_strana contains "evropa" %}
 
 | <a href="./service-{{marki.marki_name_en}}">{{marki.marki_name_en}}</a>
 
 {%endif%}
 {%endfor%}
 
 </div> 
</div>
<div class="row">
 <div class="col-md-8">
 <h2>Ремонт японских, корейских и китайских марок</h2>
 {% for marki in site.data.marki %}
 {% if marki.marka_strana contains "aziya" %}
 
 | <a href="./service-{{marki.marki_name_en}}">{{marki.marki_name_en}}</a>
 
 {%endif%}
 {%endfor%}
 
 </div> 
</div>
<div class="row">
 <div class="col-md-8">
 <h2>Ремонт американских марок</h2>
 {% for marki in site.data.marki %}
 {% if marki.marka_strana contains "amerika" %}
 
 | <a href="./service-{{marki.marki_name_en}}">{{marki.marki_name_en}}</a>
 
 {%endif%}
 {%endfor%}
 
 </div> 
</div>

<div class="row">
  <div class="col-md-8">
    <p>
       <h2>Алфавитный указатель марок:</h2>
       <P><b>A</b>
     <a href="./service-Acura">Acura</a> | 
     <a href="./service-Alfaromeo">AlfaRomeo</a> | 
     <a href="./service-Astonmartin">AstonMartin</a> | 
     <a href="./service-Audi">Audi</a> | 
       </P>
     <P><b>B</b>
     <a href="./service-Bentley">Bentley</a> | 
     <a href="./service-BMW">BMW</a> | 
     <a href="./service-Bugatti">Bugatti</a> | 
     <a href="./service-Buick">Buick</a> |
     <a href="./service-BYD">BYD</a> |
       </P>
     <P><b>C</b>
     <a href="./service-Cadillac">Cadillac</a> | 
     <a href="./service-Changan">Changan</a> | 
     <a href="./service-Chery">Chery</a> | 
     <a href="./service-Chevrolet">Chevrolet</a> |
     <a href="./service-Chrysler">Chrysler</a> |
     <a href="./service-Citroen">Citroen</a> |
       </P>
     <P><b>D</b>
     <a href="./service-Daewoo">Daewoo</a> | 
     <a href="./service-Daihatsu">Daihatsu</a> | 
     <a href="./service-Datsun">Datsun</a> | 
     <a href="./service-Dodge">Dodge</a> |
     <a href="./service-DongFeng">DongFeng</a> |
     <a href="./service-DS">DS</a> |
       </P>
       <P><b>F</b>
     <a href="./service-FAW">FAW</a> | 
     <a href="./service-Ferrari">Ferrari</a> | 
     <a href="./service-Fiat">Fiat</a> | 
     <a href="./service-Ford">Ford</a> |
     <a href="./service-Foton">Foton</a> |
      </P>
      <P><b>G</b>
     <a href="./service-GAC">GAC</a> | 
     <a href="./service-Geely">Geely</a> | 
     <a href="./service-Genesis">Genesis</a> | 
     <a href="./service-GMC">GMC</a> |
     <a href="./service-GreatWall">GreatWall</a> |
      </P>
     <P><b>H</b>
     <a href="./service-Haima">Haima</a> | 
     <a href="./service-Haval">Haval</a> | 
     <a href="./service-Honda">Honda</a> | 
     <a href="./service-Hummer">Hummer</a> |
     <a href="./service-Hyundai">Hyundai</a> |
      </P>
     <P><b>I</b>
     <a href="./service-Infiniti">Infiniti</a> | 
     <a href="./service-Isuzu">Isuzu</a> | 
      </P>
     <P><b>J</b>
     <a href="./service-JAC">JAC</a> | 
     <a href="./service-Jaguar">Jaguar</a> | 
    <a href="./service-Jeep">Jeep</a> | 
      </P>
    <P><b>K</b>
     <a href="./service-Kia">Kia</a> | 
      </P>
     <P><b>L</b>
     <a href="./service-Lamborghini">Lamborghini</a> | 
     <a href="./service-Lancia">Lancia</a> | 
     <a href="./service-LandRover">LandRover</a> | 
     <a href="./service-Lexus">Lexus</a> | 
     <a href="./service-Lifan">Lifan</a> | 
     <a href="./service-Lincoln">Lincoln</a> | 
     <a href="./service-Luxgen">Luxgen</a> |
      </P>
        <P><b>M</b>
     <a href="./service-Maserati">Maserati</a> | 
     <a href="./service-Maybach">Maybach</a> | 
     <a href="./service-Mercedes">Mercedes</a> | 
     <a href="./service-Mercury">Mercury</a> | 
     <a href="./service-Mini">Mini</a> | 
     <a href="./service-Mitsubishi">Mitsubishi</a> | 
     <a href="./service-Mazda">Mazda</a> |
      </P>    
    <P><b>N</b>
     <a href="./service-Nissan">Nissan</a> | 
      </P>
    <P><b>O</b>
    <a href="./service-Oldsmobile">Oldsmobile</a> | 
    <a href="./service-Opel">Opel</a> | 
     </P>
    <P><b>P</b>
    <a href="./service-Peugeot">Peugeot</a> | 
    <a href="./service-Pontiac">Pontiac</a> | 
     <a href="./service-Porsche">Porsche</a> |  
     </P>
    <P><b>R</b>
    <a href="./service-Peugeot">Ravon</a> | 
    <a href="./service-Pontiac">Renault</a> | 
     <a href="./service-Porsche">RollsRoyce</a> | 
     <a href="./service-Porsche">Rover</a> |  
     </P>
     <P><b>S</b>
     <a href="./service-Saab">Saab</a> | 
     <a href="./service-Scion">Scion</a> | 
     <a href="./service-SEAT">SEAT</a> | 
     <a href="./service-Smart">Smart</a> | 
     <a href="./service-SsangYong">SsangYong</a> | 
     <a href="./service-Subaru">Subaru</a> | 
     <a href="./service-Suzuki">Suzuki</a> |
      </P> 
     <P><b>V</b>
    <a href="./service-Volkswagen">Volkswagen</a> | 
    <a href="./service-Volvo">Volvo</a> | 
     <a href="./service-VAZ">VAZ</a> | 
     </P>
    <P><b>Z</b>
    <a href="./service-ZAZ">ZAZ</a> | 
    <a href="./service-Zotye">Zotye</a> | 
     </P>
    
     <!--   <h2>Марки:</h2>	
            |  <a href="./service-vse">Все</a> | 
            <a href="./service-Mersides">Mersides</a> | 
            <a href="./service-Toyota">Toyota</a> | 
            <a href="./service-Audi">Audi</a> | 
            <a href="./service-Opel">Opel</a> | 
            <a href="./service-Lexus">Lexus</a> | 
            <a href="./service-Volkswagen">Volkswagen</a> | 
            <a href="./service-Skoda">Skoda</a> | 
            
              </p> -->
        <!--<p>-->
        <!--<h2>Официальность сервиса:</h2>-->
        <!--   |   <a href="./service-nezavisimie">Официальные сиервисы</a> | -->
        <!--    <a href="">Частные сервисы</a> | -->
        <!--</p>-->
        <!--<p>-->
        <!--<h2>Универсальность сервиса</h2>    -->
        <!--   |   <a href="">Монобрендовые</a>  | -->
        <!--    <a href="">Мультибрендовые</a> | -->
        <!--    <a href="./service-vse">Все</a>  | -->
        <!--</p>-->
     </div>
    <div class="col-md-4"></div>
</div>