---
layout: default
---
{% for sto in site.data.sto %}
{% if sto.marki contains "Pontiac" %}
<div class="row">
<h2>Автосервис: <a href="{{site.baseurl}}/service/{{sto.name_en}}-{{sto.id}}">{{sto.name}}</a></h2>
<p>Адресс: {{sto.adress}}</p>
<p>Марки: {{sto.marki}}</p>
<!--img alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{sto.x}},{{sto.y}}&amp;z=8&amp;l=map&amp;size=200,200&amp;spn=0.002,0.002"-->
<p>--------------------------------------------------------------------------------------------</p>
</div>
{% endif %}
{% endfor %}