<!DOCTYPE html>

{% for sto in site.data.sto %}
{% if sto.id == page.id %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Автосервис {{sto.name}}">
	<title>Автосервис {{sto.name}}</title>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  	<link href="styles.css" rel="stylesheet">
      <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SravniService.ru</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">О сервисе</a></li>
            <li><a href="/contact">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
<div class="container">
<div class="row">
    <div class="col-md-8">
  	<h1>Автосервис {{sto.name}}</h1>	
  	<div>
	    <dl class="dl-horizontal">
        <dt>Город</dt> <dd>{{sto.sity}}</dd>
	  				<dt>Адрес</dt> <dd>{{sto.adress}}</dd>
	  				<dt>Телефон</dt> <dd>{{sto.telefon}}</dd>
	  				<dt>Время работы</dt> <dd>{{sto.time}}</dd>
	  				<dt>Работы в выходные</dt> <dd>{{sto.time2}}</dd>
	  				<dt>Категория сервиса</dt> <dd>{{sto.status}}</dd>
	  				<dt>Обслуживание марок</dt> <dd>
	  				    {% for marki in sto.marki %}
	  				    {% if sto.marki != "Все марки" %}	
	  				   	 <a href="{{site.baseurl}}/service-{{marki}}">| {{marki}}</a> 
	  	 				{% else%}
	  	 			   | Все марки |
	  	 				
	  	 				{% endif %}   
	  	   		 		{% endfor %}
	  					 |</dd>
	  				
	  				
	  			</dl>				
  			</div>		
  
  			<!--вывод карты-->
  			<img alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{sto.x}},{{sto.y}}&amp;pt={{sto.x}},{{sto.y}}&amp;z=8&amp;l=map&amp;size=550,450&amp;spn=0.003,0.003"> 

  	<div>
	
				<h2>Виды работ {{sto.name}}:</h2>
					<ul>
				<li>Диагностика двигателя</li>	
				 <li>Диагностика АКБ</li>
				 <li>Полная диагностика автомобил</li>
				 <li>Плановые ТО</li>
				 <li>Постгарантийные ТО</li>
				 <li>Замена воздушного фильтра</li>
				 <li>Замена мастла в двигателе</li>
				 <li>Замена масла в коробке передач</li>
				<li>Замена масла в коробке передач</li>
				 <li>Замена топливного фильтра</li>
				 <li>Замена тормозных колодок</li>
				</ul>
				   <p>А также другие виды работ</p>
			
		
</div>


<div>
	<div>
				<h2>Отзывы о {{sto.name}}</h2>
				<div>
				  Отзывово пока нет
				</div>
		</div>
</div>
  
  
  
  
  
  
  	</div>	
  	<div class="col-md-4"> 	
 		 		{%for marki in sto.marki %}
 		 	<div>
 		 		<h3>Другие сервисы {{marki}} </h3>
 		 	    <ul>
					{% assign num = 1%}
					{% for sto2 in site.data.sto %}
       				 {% if sto2.marki contains {{marki}}  %}					
	            			{% if num == 10 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 11 %}
									{% endif %}
	            			{% if num == 9 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 10 %}
									{% endif %}
	            			{% if num == 8 %}
						<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 9 %}
									{% endif %}
	            			{% if num == 7 %}
						<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 8 %}
									{% endif %}
	            			{% if num == 6 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 7 %}
									{% endif %}
	            			{% if num == 5 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 6 %}
									{% endif %}
	            			{% if num == 4 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 5 %}
								{% endif %}	
	            			{% if num == 3 %}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 4 %}
							{% endif %}
							{% if num == 2 %}
						<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 3 %}
							{% endif %}
								{% if num == 1%}
							<li><a href="{{site.baseurl}}/service/{{sto2.name_en}}-{{sto2.id}}">{{sto2.name}}</a></li>
								{% assign num = 2 %}
							{% endif %}
    	      		{% endif %}
    	      		 
       			{% endfor %}
		<b>	<a href="{{site.baseurl}}/service-{{marki}}">Все сервисы {{marki}}</a> </b> 

			</ul>			
			
			</div>		
				{% endfor %}
 	</div>
</div>

{% endif%}
{% endfor %}
</div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>