---
layout: default
---

{% for sto in site.data.sto %}
{% if sto.id == page.id %}

<div class="row">
	
    <div class="col-md-8">
  	<h1>Автосервис {{sto.name}}</h1>	
  	<div>
	    <dl class="dl-horizontal">
        <dt>Город</dt> <dd>{{sto.sity}}</dd>
	  				<dt>Адрес</dt> <dd>{{sto.adress}}</dd>
	  				<dt>Телефон</dt> <dd>{{sto.telefon}}</dd>
	  				<dt>Время работы</dt> <dd>{{sto.time}}</dd>
	  				<dt>Работы в выходные</dt> <dd>{{sto.time2}}</dd>
	  				<dt>Категория сервиса</dt> <dd>{{sto.status}}</dd>
	  				<dt>Обслуживание марок</dt> <dd>
	  				    {% for marki in sto.marki %}
	  				    {% if sto.marki != "Все марки" %}	
	  				    <a href="{{site.baseurl}}/service-{{marki}}">{{marki}}</a> | 
	  	 				{% else%}
	  	 				Все марки
	  	 				
	  	 				{% endif %}   
	  	   		 		{% endfor %}
	  					 </dd>
	  				
	  				
	  			</dl>				
  			</div>		
  
  			<!--вывод карты-->
  			<img alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{sto.x}},{{sto.y}}&amp;pt={{sto.x}},{{sto.y}}&amp;z=8&amp;l=map&amp;size=550,450&amp;spn=0.003,0.003"> 

  	
  	</div>
	<div class="col-md-4"> 	
 		 		{%for marki in sto.marki %}
 		 	<div>
 		 		<h2>Другие сервисы {{marki}}</h2>
 		 	    <ul>
					{%for sto2 in site.data.sto %}
						{% assign marki = sto2.marki | contains {{marki}}  %}
			
						{%for name in sto2.name %}
						
					<li>
					
					 {{name}}
					 
					</li>
					{%endfor%}
					{%endfor%}
		
			
	
			</ul>			
			
			</div>		
				{% endfor %}
 	</div>
</div>
<div class="row">
	
				<h2>Виды работ {{sto.name}}:</h2>
					<ul>
				<li>Диагностика двигателя</li>	
				 <li>Диагностика АКБ</li>
				 <li>Полная диагностика автомобил</li>
				 <li>Плановые ТО</li>
				 <li>Постгарантийные ТО</li>
				 <li>Замена воздушного фильтра</li>
				 <li>Замена мастла в двигателе</li>
				 <li>Замена масла в коробке передач</li>
				<li>Замена масла в коробке передач</li>
				 <li>Замена топливного фильтра</li>
				 <li>Замена тормозных колодок</li>
				</ul>
				   <p>А также другие виды работ</p>
			
		
</div>


<div class="row">
	<div>
				<h2>Отзывы о {{sto.name}}</h2>
				<div>
				  Отзывово пока нет
				</div>
		</div>
</div>
{% endif%}
{% endfor %}