---
layout: default
---

<h1>test</h1>
@1-1

{% for cto in site.data.cto %}
{% if cto.id == "S90" %}

<div class="row">
		<div class="col-md-8">
  			<h1>Автосервис: {{cto.name}}</h1>	
  			<div>
	  			<dl class="dl-horizontal">
	  				<dt>Город</dt> <dd>{{cto.sity}}</dd>
	  				<dt>Адрес</dt> <dd>{{cto.adress}}</dd>
	  				<dt>Телефон</dt> <dd>{{cto.telefon}}</dd>
	  				<dt>Время работы</dt> <dd>{{cto.time}}</dd>
	  				<dt>Работы в выходные</dt> <dd>{{cto.time2}}</dd>
	  				<dt>Категория сервиса</dt> <dd>{{cto.status}}</dd>
	  				<dt>Обслуживание марок</dt> <dd>{{cto.marki}}</dd>
	  			</dl>				
  			</div>				
  			<!--вывод карты
  			<img alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{sto.x}},{{sto.y}}&amp;pt={{cto.x}},{{cto.y}}&amp;z=8&amp;l=map&amp;size=350,350&amp;spn=0.003,0.003"> -->

  			</div>
  		
 		 	<div class="col-md-4"> 	
 		 	<p>
 		 		<h4><b>Сервис выполняет следующие работы:</b></h4>
 		 		<ul>
 		 			<li>Замена масла</li>
 		 			<li>Замена фильтров</li>
 		 			<li>Замена тормозных колодок</li>
 		 			<li>Диагности неисправностей</li>
 		 			<li>Проведение ТО</li>
 		 		</ul>
 		 		</p>
 		 	</div>
	
		</div>
		
		<div class="row">
			<div>
				<h2>Отзывы о {{cto.name}}</h2>
				<div>
				  Отзывово пока нет
				</div>
		</div>
</div>
{% endif%}
{% endfor %}